.photos-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    animation: slide 20s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .photo-item {
    /* // Adjust if there's a gap between images */
    margin-right: 25px;
  }
  
  